<ion-header>
  <ion-toolbar>
    <ion-title>automatico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher *ngIf="showSpinner === false" (ionRefresh)="refreshBluetooth($event)">
        <ion-refresher-content refreshingText="{{ 'BLUETOOTH.SEARCHING' | translate }}">
        </ion-refresher-content>
      </ion-refresher>
      <div [hidden]="showSpinner === false" text-center>
        <ion-spinner></ion-spinner><br>
        {{ "BLUETOOTH.SEARCHING" | translate }}
      </div>
    
      <ion-list lines="full">
        <ion-item button (click)="checkConnection(device)" *ngFor="let device of devices">
          <ion-text>
            <h3>{{ "BLUETOOTH.NAME" | translate }}: {{device.name}}</h3>
          <!--  <p>{{ "BLUETOOTH.ID" | translate }}: {{device.id}}</p>
            <p>{{ "BLUETOOTH.ADDRESS" | translate }}
              <span [hidden]="device.address == undefined">mac</span>
              <span [hidden]="device.uuid == undefined">uuid</span>
              {{device.address}} {{device.uuid}}
            </p>
            <p>
              <span [hidden]="device.class == undefined">Clase</span>
              <span [hidden]="device.rssi == undefined">Rssi</span>
              {{device.class}} {{device.rssi}}
            </p>
            -->
          </ion-text>
        </ion-item>
      </ion-list>
      <form (ngSubmit)="sendMessage(message);">
        <!--
        <ion-item>
          <ion-input type="text" [(ngModel)]="message" name="message"></ion-input>
        </ion-item>
                  -->
        <ion-row>

          <ion-col>
            <ion-button expand="block" color="dark" (click)="disconnect()" [disabled]="!isConnected">
              Desconectar
            </ion-button>
          </ion-col>
        </ion-row>
      </form>

      

      <div [hidden]="devices.length > 0 || showSpinner == true || isConnected" text-center>
        <p>No se han encontrado dispositivos Bluetooth</p>
      </div>
      
      <ion-item>
          <ion-input type="text" [(ngModel)]="muestraTexto" name="muestraTexto">text</ion-input>
        </ion-item>






  <ion-row>
    <ion-col>
      <ion-button expand="block" shape="round" clear color="red" (click)="calibracion()" style="margin-top: 20px;">
          CALIBRACION
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-input type="text" placeholder="Nombre..." [(ngModel)]="tituloGrabacion" [disabled]="tituloGrabacionDisabled && !flagCalibracionRealizada"></ion-input>

  <ion-input type="text" placeholder="Aqui ira un select de sensibilidad" [(ngModel)]="sensibilidadAutomatico" [disabled]="tituloGrabacionDisabled && !flagCalibracionRealizada"></ion-input>

  <ion-row>
    <ion-col>
      <ion-button expand="block" shape="round" clear color="red" (click) = "comienzoautomatico()" 
      style="margin-top: 20px;" [disabled]="!flagCalibracionRealizada">
          COMIENZO 
      </ion-button>
    </ion-col>
  </ion-row>

 

  <ion-row>
    <ion-col>
      <ion-button expand="block" shape="round" clear color="red" (click)="finautomatico()" 
      style="margin-top: 20px;" [disabled]="!flagCalibracionRealizada">
          FIN 
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
