<ion-header>
    <ion-toolbar>
      <ion-title>RESULTADOS GRABACION</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-row>
      {{}}
    </ion-row>
    <ion-row>
        <ion-col>
          CAPTACIONES REALIZADAS
        </ion-col>
        <ion-col>
          EVENTOS
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          prueba
        </ion-col>
        <ion-col>
          {{numeroCaptaciones}} PRUEBA
        </ion-col>
      </ion-row>
</ion-content>
