<ion-header>
  <ion-toolbar>
    <ion-title>controles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-button expand="block" shape="round" clear color="red" (click)="manual()" style="margin-top: 20px;">
          INTERACCION MANUAL
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="block" shape="round" clear color="red" (click)="automatico()" style="margin-top: 20px;">
          INTERACCION AUTOMÁTICA
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="block" shape="round" clear color="red" (click)="datosusuario()" style="margin-top: 20px;">
          DATOS USUARIO
      </ion-button>
    </ion-col>
  </ion-row>
  
</ion-content>
